/* Setup variables */
:root {
  --logo-size-1: 280px;
  --logo-size-2: 250px;
  --logo-size-3: 220px;
  --logo-size-4: 200px;
  --logo-size-5: 200px;
  --logo-size-6: 200px;
  --orange: #ee9a37;
  --white: #ffffff;
  --background: #f5f5f5;
}

body.swiper-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 600px;
}

.slide-content {
  display: flex;
  height: 100%;
}

.left-section {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}

.category-name {
  position: relative;
  z-index: 1;
  color: var(--white);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 40px;
}

.right-section {
  width: 50%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.logo-grid {
  display: grid;
  gap: 20px;
  width: fit-content;
}

/* Single logo */
.logo-grid[data-count='1'] {
  grid-template-columns: var(--logo-size-1);
}
.logo-grid[data-count='1'] .logo-container {
  width: var(--logo-size-1);
  height: var(--logo-size-1);
}

/* Two logos */
.logo-grid[data-count='2'] {
  grid-template-columns: repeat(2, var(--logo-size-2));
}
.logo-grid[data-count='2'] .logo-container {
  width: var(--logo-size-2);
  height: var(--logo-size-2);
}

/* Three logos */
.logo-grid[data-count='3'] {
  grid-template-columns: repeat(2, var(--logo-size-3));
  grid-template-areas:
    'logo1 logo2'
    'logo3 logo3';
}
.logo-grid[data-count='3'] .logo-container:last-child {
  grid-area: logo3;
  justify-self: center;
}
.logo-grid[data-count='3'] .logo-container {
  width: var(--logo-size-3);
  height: var(--logo-size-3);
}

/* Four logos */
.logo-grid[data-count='4'] {
  grid-template-columns: repeat(2, var(--logo-size-4));
}
.logo-grid[data-count='4'] .logo-container {
  width: var(--logo-size-4);
  height: var(--logo-size-4);
}

/* Five logos */
.logo-grid[data-count='5'] {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-grid[data-count='5'] .top-row {
  display: grid;
  grid-template-columns: repeat(3, var(--logo-size-5));
  gap: 20px;
}

.logo-grid[data-count='5'] .bottom-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.logo-grid[data-count='5'] .bottom-row .logo-container {
  width: var(--logo-size-5);
  height: var(--logo-size-5);
}

/* Six logos */
.logo-grid[data-count='6'] {
  grid-template-columns: repeat(3, var(--logo-size-6));
}
.logo-grid[data-count='6'] .logo-container {
  width: var(--logo-size-6);
  height: var(--logo-size-6);
}

.logo-container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 8px;
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 0 10px transparent;
}

/* Hover animation on link */
.logo-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  box-shadow: 0 0 10px var(--orange);
}

.logo {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

@media screen and (max-width: 1600px) {
  :root {
    --logo-size-1: 220px;
    --logo-size-2: 200px;
    --logo-size-3: 180px;
    --logo-size-4: 160px;
    --logo-size-5: 160px;
    --logo-size-6: 160px;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --logo-size-1: 200px;
    --logo-size-2: 180px;
    --logo-size-3: 160px;
    --logo-size-4: 140px;
    --logo-size-5: 140px;
    --logo-size-6: 140px;
  }
}

@media screen and (max-width: 950px) {
  .swiper {
    height: auto;
  }

  .slide-content {
    flex-direction: column;
    width: 100%;
  }

  .slide-content .left-section,
  .slide-content .right-section {
    width: 100%;
  }

  .slide-content .left-section {
    height: 100px;
  }

  .slide-content .right-section {
    padding: 60px 0;
    min-height: 420px;
  }

  .category-name {
    font-size: 2rem;
    padding: 0 10px;
  }

  :root {
    --logo-size-1: 280px;
    --logo-size-2: 250px;
    --logo-size-3: 200px;
    --logo-size-4: 200px;
    --logo-size-5: 200px;
    --logo-size-6: 200px;
  }
}

@media screen and (max-width: 680px) {
  .category-name {
    font-size: 1.5rem;
  }

  .slide-content .right-section {
    padding: 30px 0;
    min-height: 260px;
  }

  :root {
    --logo-size-1: 180px;
    --logo-size-2: 160px;
    --logo-size-3: 140px;
    --logo-size-4: 120px;
    --logo-size-5: 120px;
    --logo-size-6: 120px;
  }
}

@media screen and (max-width: 450px) {
  .slide-content .left-section {
    height: 120px;
  }

  .slide-content .right-section {
    min-height: 220px;
  }

  :root {
    --logo-size-1: 150px;
    --logo-size-2: 120px;
    --logo-size-3: 100px;
    --logo-size-4: 100px;
    --logo-size-5: 100px;
    
  }
}

@media screen and (max-width: 380px) {

  .slide-content .right-section {
    min-height: 180px;
  }

  :root {
    --logo-size-1: 150px;
    --logo-size-2: 120px;
    --logo-size-3: 80px;
    --logo-size-4: 80px;
    --logo-size-5: 80px;
    --logo-size-6: 80px;
  }
}
